debug=true

jcasbin.model-path=/home/user/spikes/casbin/casbin-spring-boot-demo/src/main/resources/casbin/model.conf
jcasbin.policy-path=/home/user/spikes/casbin/casbin-spring-boot-demo/src/main/resources/casbin/policy.csv
